In [11]:
import pandas as pd
import numpy as np
import cleaning_functions as cl

In [12]:
income = pd.read_excel('../data/income_industry.xlsx',sheet_name='Table 2.1')

In [13]:
# I clean the data importing functions already created. And also changing specific items, rename columns and set correct indexes.
cl.BasicCleanig(income,5,5)
income = cl.stackAndDataframe(income)
new_columns=['Year','Activity','Median_income']
income.columns=new_columns

,Year,"Agriculture, forestry and fishing",Mining,Manufacturing,"Electricity, gas, water and waste services",Construction,Wholesale trade,Retail trade,Accommodation and food services,"Transport, postal and warehousing",Information media and telecommunications,Finance and insurance services,"Rental, hiring and real estate services","Professional, scientific and technical services",Administrative and support services,Public administration and safety,Education and training,Health care and social assistance,Arts and recreation services,Other services
0,2016,6906.0,110386,45682,77161,36864,43383,17950.0,7293,47796.0,37000.0,40749,26891.5,40862,11453,62292,29806,37810,8847,20873
1,2017,7206.5,108652,46109,74537,37054,44138,18209.0,7500,47631.5,39364.0,40941,27000.0,40337,11411,57947,31565,38477,9148,21522
2,2018,7393.0,106625,46306,79603,37637,44808,18612.0,7680,47658.0,42699.5,41650,28357.0,43352,12304,63697,32419,38514,9409,21986
3,2019,8261.0,107052,48324,78650,40000,46670,19481.5,8007,50140.0,39681.0,43663,29805.0,45770,13078,60622,31107,39585,9750,23203
4,2020,9332.5,110827,50769,81732,43000,49498,21006.0,8645,51330.0,47500.0,45900,33517.0,50015,14112,65888,36286,39049,12326,25756

In [14]:
#I export the file to the folder "data"
income.to_excel('../data/income_clean.xlsx')