In [25]:
# I import all the libraries I need.
import pandas as pd
import numpy as np
import my_functions as mf

In [26]:
#Import the file that I am goint to use.

migration = pd.read_excel('../data/downloaded_excel.xlsx',sheet_name='1.4')

In [27]:
# I clean the data importing functions already created. And also changing specific items, rename columns and set correct indexes.

    
migration= mf.BasicCleanig(migration,4,4)
new_header = list(migration.iloc[0])
old_header = list(migration.columns)
migration.columns = new_header
migration.drop(4,inplace=True)
migration.drop(columns='Total',inplace=True)
migration = mf.stackAndDataframe(migration)
new_columns=['Year','Activity','Sponsored_visas']
migration.columns=new_columns
migration['Sponsored_visas']=migration['Sponsored_visas'].apply(mf.charactersout)
migration['Activity']=migration['Activity'].apply(lambda x: x.lower())

In [28]:
migration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             300 non-null    object
 1   Activity         300 non-null    object
 2   Sponsored_visas  300 non-null    float64
dtypes: float64(1), object(2)
memory usage: 7.2+ KB

In [29]:
#I re-write a column that had a year split by "-"
migration['Year']= migration['Year'].apply(lambda x : x.split('–')[0])

In [30]:
#I export the file to the folder "data"
migration.to_excel('../data/migration_clean.xlsx')

In [31]:
migration

     Year                                 Activity  Sponsored_visas
0    2007          accommodation and food services            484.0
1    2007      administrative and support services             70.0
2    2007        agriculture, forestry and fishing            171.0
3    2007             arts and recreation services            505.0
4    2007                             construction            497.0
..    ...                                      ...              ...
295  2021  rental, hiring and real estate services             51.0
296  2021                             retail trade            406.0
297  2021         transport postal and warehousing            124.0
298  2021                          wholesale trade            134.0
299  2021                            not specified              5.0

[300 rows x 3 columns]