In [40]:
import pandas as pd
import numpy as np

In [41]:
# I import both cleaned xlsx files
income = pd.read_excel('../data/income_clean.xlsx')
migration= pd.read_excel('../data/migration_clean.xlsx')

In [46]:
# I merge both files using the columns Year and Activity that I already prepared.
all_together = migration.merge(income,how='outer',on=['Year','Activity'])
all_together = all_together.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y'])

In [49]:
all_together.to_excel('../data/all_together.xlsx')

In [50]:
all_together

     Year                             Activity Sponosored_visas  Median_income
0    2007      Accommodation and Food Services              484            NaN
1    2007  Administrative and Support Services               70            NaN
2    2007    Agriculture, Forestry and Fishing              171            NaN
3    2007         Arts and Recreation Services              505            NaN
4    2007                         Construction              497            NaN
..    ...                                  ...              ...            ...
375  2020     Public administration and safety              NaN        65888.0
376  2020               Education and training              NaN        36286.0
377  2020    Health care and social assistance              NaN        39049.0
378  2020         Arts and recreation services              NaN        12326.0
379  2020                       Other services              NaN        25756.0

[380 rows x 4 columns]